.devenv/*
.github/*
.idea/*
.vscode/*
_hs_local/*
configs/*
dist/*
docker-config/*
docker-images
docs/*
env/*
file-upload/*
node_modules
tmp/*
tools/*
**/test/*
logs/*

**/.DS_Store
**/*.log
**/*.env*
**/*.README*
**/*.spec.ts
