{
  "name": "some-name",
  "type": "bg-service",
  "enabled": true,
  "checks": [
    {
      "type": "bg-service-status",
      "url": "<url>",
      "schedule": "everyMinute"
    },
    {
      "type": "bg-service-api",
      "url": "<url",
      "schedule": "every30Minutes"
    }
  ],
  "isBgService": true,
  "alerts": [{
    "intervalInMinutes": 5,
    "recipients": [
      { "name": "<name>", "email": "<email>" }
    ]
  }]
}
