{
  "name": "some-name",
  "type": "bg-service",
  "enabled": true,
  "checks": [
    {
      "type": "bg-service-status",
      "url": "<url>",
      "schedule": "everyMinute"
    },
    {
      "type": "bg-service-api",
      "url": "<url",
      "schedule": "every30Minutes"
    }
  ],
  "isBgService": true,
  "alerts": [
    {
      "intervalInMinutes": 60,
      "recipients": [
        { "name": "<name1>", "email": "<email1>" },
        { "name": "<name2>", "email": "<email2>", enabled: false }
      ]
    },
    {
      "intervalInMinutes": 120,
      "recipients": [
        { "name": "<name3>", "email": "<email3>" }
      ]
    }
  ]
}
